<html>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'
      rel='stylesheet'
    />
  </head>
  <body>
    <div
      style='color: #484848;
            font-family: "Roboto", sans-serif;
            background-color: rgb(240, 244, 247);
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.1rem;
            text-align: justify;
            position: relative;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            min-width: 70%;'
    >
      <div
        style='height: auto;
            width: 700px;
            border-radius: 20px;
            background: #fff;
            padding: 30px 30px 30px 30px;
            overflow: hidden;
            margin: 20px auto;'
      >
        <div
          style='display: flex;
        justify-content: center;
        margin-bottom: 20px;'
        >
          <img
            style='width: 110px; height: 75px;'
            src='https://recordar.art.br/backend/main-logo.png'
          />
        </div>
        <div
          style='border-bottom: 1px solid #ccc;
        margin-bottom: 20px;
        padding-bottom: 10px;'
        ></div>
        <h2>Detalhes da Sua Compra - Atualização sobre o Seu Pedido</h2>
        <p>Prezado(a) <strong>{{name}}</strong></p>
        <P>Seu pedido foi finalizado com sucesso!</P>
        <P>Gostariamos de agradecer por escolher nossos serviços. Estamos empolgados em informar sobre os detalhes da sua compra recente. Aqui estão as informações essenciais: <p>
        <p><strong>Nome do Cliente:</strong> {{name}}</p>
        <p><strong>Número do Pedido:</strong> {{pagarme.number}}</p>
        <p><strong>Valor do Pedido:</strong> {{saleAlbum.valueFormatted + lustroRate}}</p>
        <p><strong>Status do Pagamento:</strong>   {{payment.pagarme_status(paid)}}</p>
        <p><strong>Método de pagamento:</strong> {{paymentMethod.title(PIX)}}
        <p>Detalhes da Compra:</p>
        <p><strong>(Álbum/Serviço):</strong> {{saleAlbum.title}}</p>
        <p>{{saleAlbum.description}}</p>
        <p><strong>Taxa de lustro:</strong> {{lustroRate}}</p>
        <p>{{lustro.description}}</p>
        <p><strong>Valor do Pedido:</strong> {{saleAlbum.valueFormatted + lustroRate}}</p>
        <p>Gostaríamos de assegurar que a sua experiência de compra é muito importante para nós. Caso tenha alguma dúvida ou precise de assistência, fique à vontade para entrar em contato. Estamos aqui para      ajudar e tornar o processo o mais tranquilo possível.
</p>
          <p>Seu
          {{Álbum/Serviço}}
          foi adicionado à sua conta! Clique no link abaixo para começar a
          aproveitar o produto.</p>
        <a href='https://recordar.art.br'>Clique aqui</a>
        <p>Atenciosamente,</p>
        <p>Equipe Recordar</p>
      </div>
    </div>
  </body>
</html>